html
    head
        link(href="./css/bootstrap.css" rel="stylesheet")
        link(href="./css/one.css" rel="stylesheet")
    body
        .container
            .row
                #logo.col-xs-12
                    span ON
                    span.color-primary E
                #slogon The Ultimate Art Community
            #nav.row
                .col-xs-6.col-xs-offset-3
                    ul.nav.nav-pills.nav-justified
                        li.active
                            a(href="#") Home
                        li
                            a Theme
                        li
                            a Desiner
                        li
                            a Developer
            #cases
                .row
                    .col-xs-4
                        div(style="background:#fff;width:100%;height:300px")
                        div
                             a.btn.btn-primary.btn-sm.pull-right Buy
                            div first theme
                            div this is description
                    .col-xs-4
                        div(style="background:#fff;width:100%;height:300px")
                        div
                             a.btn.btn-primary.btn-sm.pull-right Buy
                            div first theme
                            div this is description
                    .col-xs-4
                        div(style="background:#fff;width:100%;height:300px")
                        div
                             a.btn.btn-primary.btn-sm.pull-right Buy
                            div first theme
                            div this is description
                .row
                    .col-xs-4
                        div(style="background:#fff;width:100%;height:300px")
                        div
                             a.btn.btn-primary.btn-sm.pull-right Buy
                            div first theme
                            div this is description
                    .col-xs-4
                        div(style="background:#fff;width:100%;height:300px")
                        div
                             a.btn.btn-primary.btn-sm.pull-right Buy
                            div first theme
                            div this is description
                    .col-xs-4
                        div(style="background:#fff;width:100%;height:300px")
                        div
                              a.btn.btn-primary.btn-sm.pull-right Buy
                            div first theme
                            div this is description
        .footer
            .container
                | Sign up or Sign in
                | @zerojs.io
