html
    head
        link(href="./css/bootstrap.css" rel="stylesheet")
        link(href="./css/one.css" rel="stylesheet")
    body
        .container
            .row
                #logo.col-xs-12
                    span ON
                    span E
                #slogon The Ultimate Art Community
            .row
                ul.nav.nav-pills
                    li.active
                        a(href="#") Home
                        a Theme
                        a Desiner
                        a Developer
            .row
                .col-xs-4
                    div(style="background:#fff;width:100%;height:300px")
                    div
                        div first theme
                        div this is description
                        a.btn Buy
                .col-xs-4
                    div(style="background:#fff;width:100%;height:300px")
                    div
                        div first theme
                        div this is description
                        a.btn Buy
                .col-xs-4
                    div(style="background:#fff;width:100%;height:300px")
                    div
                        div first theme
                        div this is description
                        a.btn Buy
            .row
                .col-xs-4
                    div(style="background:#fff;width:100%;height:300px")
                    div
                        div first theme
                        div this is description
                        a.btn Buy
                .col-xs-4
                    div(style="background:#fff;width:100%;height:300px")
                    div
                        div first theme
                        div this is description
                        a.btn Buy
                .col-xs-4
                    div(style="background:#fff;width:100%;height:300px")
                    div
                        div first theme
                        div this is description
                        a.btn Buy
        .footer
            .container
                | Sign up or Sign in
                | @zerojs.io
