.artwork.brief
    .cover
        img(src='https://d13yacurqjgara.cloudfront.net/users/13865/screenshots/1742386/5_years.jpg')
        a.mask
        .author
            img.avatar(src='http://127.0.0.1:8080/img/avatar3.png')
            span.name  &#x52A0;&#x7F2A;
    .text
        .title &#x5219;&#x662F;&#x6807;&#x9898;
        .description &#x4EA7;&#x54C1;&#x8BBE;&#x8BA1;&#x7684;&#x6781;&#x7B80;&#xFF0C;&#x672C;&#x8D28;&#x4E0A;&#x662F;&#x4E00;&#x79CD;&#x6B9A;&#x7CBE;&#x7AED;&#x8651;&#x7684;&#x7B80;&#x5355;&#x5448;&#x73B0;&#x3002;#&#x6728;##&#x7EBF;&#x6761;##&#x51E0;&#x4F55;##&#x7B80;&#x7EA6;#&#x3002;&#x4EA7;&#x54C1;&#x8BBE;&#x8BA1;&#x7684;&#x6781;&#x7B80;&#xFF0C;&#x672C;&#x8D28;&#x4E0A;&#x662F;&#x4E00;&#x79CD;&#x6B9A;&#x7CBE;&#x7AED;&#x8651;&#x7684;&#x7B80;&#x5355;&#x5448;&#x73B0;&#x3002;#&#x6728;##&#x7EBF;&#x6761;##&#x51E0;&#x4F55;##&#x7B80;&#x7EA6;#
        .meta
            a
                i.fa.fa-heart
                | 30
            a
                i.fa.fa-eye
                | 3130