.row(ng-controller="ordinary.artwork")
    .col-lg-10
        .row
            .col-xs-4
                include artwork.brief.jade
    .col-lg-2
        div
            | online:1110
            | last update : 9:00