doctype html
html
    head
        title Test
        include partials/head.jade
    body#top
        include partials/header.jade

        section#intro.intro.text-center.section-padding
            div.container
                div.row
                    div.col-md-8.col-md-offset-2.wp1
                        h1.arrow What is Zero Theorem ?
                        p
                            | Zero Theorem 是我们，即 ZeroJS 团队的官方博客
                            br
                            | 在这里，我们会阐述 ZeroJS、TwentyJS 等等是什么，是怎么设计、开发和使用的
                            br
                            | 同时，我们也会表达对 ZeroJS 社区未来架构的考虑和设计，甚至，关于编程、关于人生、关于未来的感想

        section.swag.text-center
            div.container
                div.row
                    div.col-md-8.col-md-offset-2
                        h1 Find out
                            span what we'are&nbsp;
                                em doing
                        a.down-arrow-btn(href="#portfolio")
                            i.fa.fa-chevron-down

        section#portfolio.portfolio.text-center.section-padding
            div.container
                div.row
                    div#portfolioSlider
                        ul.slides
                            li
                                div.col-md-4.wp4
                                    div.overlay-effect.effects.clearfix
                                        div.img
                                            img(src="img/portfolio-zerojs.png")
                                            div.overlay
                                                a(href="#" class="expand")
                                                    i.fa.fa-search
                                                        br
                                                        | View More
                                                a.close-overlay.hidden x
                                    h2 ZeroJS
                                    p
                                        | 一款面向 CMS 系统的内核
                                        br
                                        | &nbsp;&nbsp;&nbsp;&nbsp;它基于Express，并搭载了独特的Event-Stream Programming机制，能给开发者带来更好的体验和便利
                                div.col-md-4.wp4.delay-05s
                                    div.overlay-effect.effects.clearfix
                                        div.img
                                            img(src="img/portfolio-02.jpg")
                                            div.overlay
                                                a(href="#" class="expand")
                                                    i.fa.fa-search
                                                        br
                                                        | View More
                                                a.close-overlay.hidden x
                                    h2 TwentyJS
                                    p
                                        | 基于 ZeroJS 的博客系统
                                        br
                                        | &nbsp;&nbsp;&nbsp;&nbsp;构建在 ZeroJS 的基础模块平台之上，能更方便的使用第三方模块抑或是独立开发的模块，兼具便利、灵活性
                                div.col-md-4.wp4.delay-1s
                                    div.overlay-effect.effects.clearfix
                                        div.img
                                            img(src="img/portfolio-03.jpg")
                                            div.overlay
                                                a(href="#" class="expand")
                                                    i.fa.fa-search
                                                        br
                                                        | View More
                                                a.close-overlay.hidden x
                                    h2 ZeroJS Store
                                    p
                                        | 基于 ZeroJS 的在线市场
                                        br
                                        | &nbsp;&nbsp;&nbsp;&nbsp;我们希望为架构在ZeroJS之上的系统提供更多、更好的模块支持，同时也希望成为开发者、设计师合作的桥梁

        div.ignite-cta.text-center
            div.container
                div.row
                    div.col-md-12
                        a.ignite-btn(href="#") Welcome to Join Us

        section#team.team.text-center.section-padding
            div.container
                div.row
                    div.col-md-12
                        h1.arrow The ZeroJS Team Members
                div.row
                    div.team-wrapper
                        div#teamSlider
                            ul.slides
                                li
                                    div.col-md-4.wp5
                                        img.member(src="http://zerojs.qiniudn.com/new_1.png")
                                        h2 侯振宇
                                        p Teamleader, Engineer
                                        div.social
                                            ul.social-buttons
                                                li
                                                    a.social-btn(href="#")
                                                        i.fa.fa-github
                                                li
                                                    a.social-btn(href="#")
                                                        i.fa.fa-weibo
                                    div.col-md-4.wp5.delay-05s
                                        img(src="http://zerojs.qiniudn.com/new_3.png")
                                        h2 蔡蔡
                                        p UX & UI Designer
                                        div.social
                                            ul.social-buttons
                                                li
                                                    a.social-btn(href="#")
                                                        i.fa.fa-github
                                                li
                                                    a.social-btn(href="#")
                                                        i.fa.fa-weibo
                                    div.col-md-4.wp5.delay-1s
                                        img(src="http://zerojs.qiniudn.com/new_2.png")
                                        h2 青栀
                                        p Engineer
                                        div.social
                                            ul.social-buttons
                                                li
                                                    a.social-btn(href="#")
                                                        i.fa.fa-github
                                                li
                                                    a.social-btn(href="#")
                                                        i.fa.fa-weibo

        section.subscribe.text-center
            div.container
                h1
                    i.fa.fa-paper-plane
                        span Subscribe to stay in the loop
                form(action="#")
                    input(type="text" name="" value="" required)
                    input(type="submit" name="" value="Send")

        include partials/footer.jade
        include partials/foot-scripts.jade
