

footer
  div.container
    div.row
      div.col-md-6
        ul.legals
          li
            a(href='#') Terms &amp; Conditions
          li
            a(href='#') Legals
      div.col-md-6.credit
        p
          | Designed &amp; Developed by
          a(href='#') xxxxx
          | exclusively