

footer
    div.container
        div.row
            div.col-md-6
                ul.legals
                    li
                        | Copyright © 2014.
                        a(href='http://zerojs.io/') &nbsp; onezerojs.com
            div.col-md-6.credit
                p
                    | Designed &amp; Developed by the
                    a(href='#') &nbsp;ZeroJS Team