

script( src='/twenty-temp/js/jquery.js' )
script( src='/twenty-temp/js/waypoints.min.js' )
script( src='/twenty-temp/js/bootstrap.min.js' )
script( src='/twenty-temp/js/scripts.js' )
script( src='/twenty-temp/js/jquery.flexslider.js' )
script( src='/twenty-temp/js/modernizr.js' )