

header#home
    section#hero.hero
        div.container
            div.row
                div.col-md-8.col-md-offset-2.text-center.inner
                    h1.animated.fadeInDown Zero
                        span Theorem
                    p.animated.fadeInUp.delay-05s
                        | We are the ZeroJS team, we build Zero for dreams
            div.row
                div.col-md-6.col-md-offset-3.text-center
                    a.learn-more-btn(herf="http://tympanus.net/codrops/?p=19439")
                        | Go to the articles