meta(http-equiv='X-UA-Compatible', content='text/html; charset=utf-8; IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='keywords', content='')

link( rel='stylesheet', href='http://fonts.googleapis.com/css?family=Varela+Round' )
link( rel='stylesheet', href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" )
link( rel='stylesheet', href="/twenty-temp/css/bootstrap.min.css" )
link( rel='stylesheet', href="/twenty-temp/css/flexslider.css" )
link( rel='stylesheet', href="/twenty-temp/css/styles.css" )
link( rel='stylesheet', href="/twenty-temp/css/queries.css" )
link( rel='stylesheet', href="/twenty-temp/css/animate.css" )


<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
